
.main-title {
  padding-left: 320px;
}

/* Add a black background color to the top navigation */
.nav-bar {
  background-color: #f52828b7;
  overflow: hidden;
  border-radius: 10px;
  width: 1150px;
  position: relative;
  left: 365px

}


/* Style the links inside the navigation bar */

/* .nav-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: underline;
  font-size: 17px;
  float: right;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
} */

/* Change the color of links on hover */

/* .nav-bar a:hover {
  background-color: #eb5151b7;
  color: rgb(255, 255, 255);
  transform: scale(1.07);
  border-radius: 10px;
} */

/* Add a color to the active/current link */

.nav-bar a.active {
  background-color: #04AA6D;
  color: white;
}

#searcher {
  width: 200px;
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
}

.login-form {
  overflow: hidden;
  background-color: rgba(182, 182, 182, 0.295);
  border: 5px solid #eb5151b7;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 40%;
  left: 40%;
  width: 400px;
  box-shadow: 5px 10px 10px color #eb5151b7;
  margin: auto;
  font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

input {
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 0;
  padding: 10px 10px;
  margin: 15px -10px;
}

button {
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  /* width: 80px;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px; */
  border: 0;
  border-radius: 5px;
  background-color: #eb5151b7;
}

button:hover {
  transform: scale(1.04)
}

.signup-form {
  overflow: hidden;
  background-color: rgba(182, 182, 182, 0.342);
  border: 5px solid #eb5151b7;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  /* top: 50%;
  left: 50%; */
  width: 400px;
  box-shadow: 5px 10px 10px color #eb5151b7;
  margin: auto;
  top: 200px;
  left: 40%;
  /* left: 50px; */
  /* font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"; */
}

#home-items-container{
  display: flex;
  margin: auto;
  flex-direction: row;
  width: 1100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

#home-items-card {
  box-shadow: 18px 14px 16px rgba(100,0,0,0.5);
  width:250px;
  height:435px;
  margin:auto;
  border-radius:20px;
  background-color:#ffffffb7;
  display: flex;
}

#home-items-info h3{
  width: 170px;
}

#home-items-info img {
  height: 250px;
  width: 250px;
  border-radius: 5px;;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

/*  adjust button css down below*/

.cart-button {
  width: 240px;
  height: 40px;
  float: right;
  position: relative;
  /* background-color: transparent;
  border: 2px solid black;
  height: 85px; */
  
}

/* #cart-button {
  position: relative;
  height: 85px;
  width: 80px;
  padding-bottom: 50px;
} */

/* #dark-mode-button {
  top: 0px;
  right: 0px
} */

.dark-mode-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #df5959;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

.dark-mode-button:hover {
  background-color: #218838;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

#logo-home{
  height: 30px;
  width: 30px;
  top: 0px;
  left: 0px;

}

/* #dark{
  background-color: #282c34;
  height: 100%;
  margin: 0;
  padding: 0; */
  /* overflow: hidden; */
  /* color: #ddd; */
/* } */

/* #light{
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
} */
 /* color:#000000; */

.dark {
  background-color: #282c34;
}

.light {
  background-color: #ffffff;
  color: #333;
}

.filler {
  bottom: 0px;
  float: bottom;
  /* position: absolute; */
}
/* html {
  height: 100%;
  margin: 0;
  padding: 0;
} */

body {
  /* background-color: #282c34; */
  /* height: 100%;
  width: 100%; */
  margin: 0;
  padding: 0;
}
.filler {
  height: 100%;
}

/* .app {
  height: 100%;
  background-color: #007bff;
  margin: 0;
  padding: 0;
} */

/* #root {
  height: 100%;
} */

footer {
  background-color: #f52828b7;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#logo {
  height: 100px;
  float: right;
  position: absolute;
  top: 47px;
  left: 130px
}

#more-info-button {
  position: relative;
}



/* ------------------------------CSS-TESTING--------------------------------------- */

.home-item-card {
  flex: 1 0 calc(25% - 32px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 16px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.home-item-card:hover {
  transform: scale(1.05);
}

.card-image {
  width: 100%;
  height: 230px; /* Adjusted height for larger images */
  object-fit: cover;
  border-radius: 8px;
}

.card-buttons {
  display: flex;
  justify-content: space-between; /* Added to space the buttons */
  align-items: center; /* Added to center the buttons vertically */
  margin-top: auto;
}

.info-button,
.cart-button {
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.info-button {
  background-color: #6b6b6b;
  color: #ffffff;
  padding: 8px; /* Adjusted padding for info button */
  width: 30px;
}

.cart-button {
  background-color: #218838;
  color: #fff;
  padding: 12px; /* Adjusted padding for cart button */
}

.info-button:hover {
  background-color: #4b4b4b;
  color: #fff;
}

.cart-button:hover {
  background-color: #d9534f;
}


/* ------------------------------NAVBAR--------------------------------------- */

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #f52828b7; /* Light gray background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar a {
  padding: 14px 16px;
}

.nav-bar a:hover {
  background-color: #eb5151b7;
  color: rgb(255, 255, 255);
  transform: scale(1.07);
  border-radius: 10px;
}

.filter-container {
  display: flex;
  align-items: center;
}

.filter-label {
  margin-right: 10px;
  font-weight: bold;
  color: #333; /* Dark text color */
}

.filter-select {
  padding: 8px;
  border: 1px solid #ced4da; /* Light gray border */
  border-radius: 4px;
  cursor: pointer;
}

.nav-links {
  display: flex;
  align-items: center;
}

.login-button,
#cart-button {
  text-decoration: none;
  color: #ffffff; /* Dark text color */
  margin-right: 20px;
  font-size: 16px;
  transition: color 0.3s ease; /* Smooth color transition */
}

.login-button:hover,
#cart-button:hover {
  color: #007bff; /* Blue color on hover */
}

.search-bar {
  margin-right: 20px;
}

/* Optional: Add some padding or margin to the filter dropdown to separate it from the login and cart icons */
.filter-container {
  margin-right: 20px;
}




/* ------------------------------CART-PAGE--------------------------------------- */

.cart-container {
  position: absolute;
  margin: 20px;
  /* width: 700px; */
  top: 150px;
  left: 300px;
  background-color: whitesmoke ;
  border-radius: 3px;
  padding: 15px;
  
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
}

.item-info {
  display: flex;
  align-items: center;
}

.item-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 10px;
}

.item-details {
  flex-grow: 1;
}

.item-actions button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.item-actions button:hover {
  background-color: #c9302c;
}

.total {
  font-weight: bold;
  margin-top: 10px;
}

.detailed-item-container {
  width: 1000px;
  position: absolute;
  top: 100px;
  left: 22%;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 16px;
  padding: 16px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.detailed-item-info {
  text-align: center;
}

.item-image {
  width: 30%; /* Make the image take the full width of the container */
  height: auto; /* Maintain the aspect ratio */
  max-height: 400px; /* Set a maximum height for the image */
  object-fit: cover;
  border-radius: 8px;
}



/* ------------------------------Login-Form--------------------------------------- */

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-form {
    background-color: rgba(233, 233, 233, 0.836);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    top: 30%;
    left: 40%
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #494949;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    background-color: #db3f34;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}

.need-account-text {
    text-align: center;
    margin-top: 20px;
}

.need-account-text a {
    color: #2b97aa;
    text-decoration: none;
    font-weight: bold;
}

.need-account-text a:hover {
    text-decoration: underline;
}


/* ------------------------------Signup-Form--------------------------------------- */



.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signup-form {
  background-color: rgba(233, 233, 233, 0.836);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.signup-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #494949;
}

.reginput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#showPasswrd {
  background-color: #fa4c4c;
  color: #fff;
  padding: 8px 12px;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 10px;
}

#showPasswrd:hover {
  background-color: #218838;
}

button#register {
  background-color: #fa4c4c;
  color: #fff;
  padding: 12px;
  border: 2px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button#register:hover {
  background-color: #218838;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ------------------------------Account-Form--------------------------------------- */


.account-edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.account-edit-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.account-edit-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #3498db;
}

.edit-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.edit-input:focus {
  outline: none;
  border-color: #3498db;
}

.edit-button {
  background-color: #d14e4e;
  color: #fff;
  padding: 12px;
  border: solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.edit-button:hover {
  background-color: #218838;
  transform: scale(1.02); 
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#cart-empty {

  color: red
}

#login-container {
  position: absolute;
  top: 20%;
  left: 5%
}

.overview-container {
  text-align: center;
  width: 700px;
  position: absolute;
  top: 30%;
  left: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #ffffffa2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: solid red;
}

.overview-container:hover {
  scale: 1.02;
  box-shadow: 0 0 20px #9c0606
}


h1 {
  color: #e43c26;
}

p {
  font-size: 1.2em;
  line-height: 1.6;
}










